body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

a {
    text-decoration: none;
    color: #d0021b;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.button {
    color: #fff;
    background: #D32323;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
}

.button:hover:enabled {
    color: #fff;
    text-decoration: none;
    transform: translateY(1px);
}

.button:active {
    transform: translateY(1px);
}

.biz-image {
    height: 200px;
    border-radius: 15%;
}

/*    @media only screen 
        and (max-device-width: 573px) {
            .biz-image {
                height: 100%;
                width: 200px;
            }
        }*/

.biz-item {
    margin: 15px;
    text-align: center;
}
.biz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.biz-name {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.green-text {
    color: springgreen;
    font-weight: bold;
}

li .left {
    text-align: left;
}

.red-text {
    color: red;
    font-weight: bold;
}

.space-list-items {
    margin-bottom: 7px;
}