body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: #D32323;
    font-size: 40px;
    margin: 20px 0px 0px 0px;

}

    @media only screen 
        and (max-width: 460px) {
            h1 {
                font-size: 30px;
            }
        }
h4 {
    font-size: 16px;
}

    @media only screen 
        and (max-width: 460px) {
            h4 {
                margin: 5px 0px 5px 0px;
            }
        }

li {
    list-style-type: none;
}

strong {
    font-weight: bold;
}

ul {
    padding: 0;
}

.address-input {
/*    align-items: center;
*/    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 380px;
    text-align: center;
    width: 50%;
}

/*    @media only screen 
        and (max-device-width: 650px) {
            .address-input {
                height: 100%;
                width: 100%;
            }
        }*/

    @media only screen 
        and (max-width: 800px) {
            .address-input {
                height: 100%;
                width: 100%;
            }
        }

.address-preview {
    margin: 15px 0px 10px 0px;
}

.autocomplete-container {
    border-bottom: honeydew;
    border-left: honeydew;
    border-radius: 0 0 2px 2px;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    width: 90%;
}

.autocomplete-div {
    text-align: center;
}

.autocomplete-item {

}

.autocomplete-item-active {
    background: #e5e5e5;
}

.biz-address {
    display: inline-flex;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
}

.biz-address-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

    @media only screen 
        and (max-width: 460px) {
            .biz-address-container {
                margin: 0px 0px 10px 0px;
            }
        }

.biz-image {
    border-radius: 15%;
    height: 200px;
}

    @media only screen 
        and (max-width: 573px) {
            .biz-image {
                height: 100%;
                width: 200px;
            }
        }

.biz-item {
    margin: 15px;
    text-align: center;
}
.biz-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.biz-name {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.button {
    background: #D32323;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 10px auto;
    padding: 7px 0;
    text-align: center;
    width: 120px;
}

.button:hover:enabled {
    color: #fff;
    text-decoration: none;
    transform: translateY(1px);
}

.button:active {
    transform: translateY(1px);
}

.button:disabled {
    background: lightgrey;
    cursor: default;
}

.Demo__suggestion-icon {
    margin-right: 8px;
}

.Demo__suggestion-item {
    padding: 4px;
    text-align: left;
}

.drive-time {
    font-weight: bold;
    margin: 15px auto 5px;
    text-align: center;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer li {
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

.form {
    display: inline-block;
    width: 90%;
}

.form-div {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-control,
.form-control:focus,
.form-control:active {
    border: honeydew;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    display: inline-block;
    font-size: 20px;
    outline: none;
    padding: 16px;
    width: 90%;
    overflow: hidden;
}

    @media only screen 
        and (max-width: 460px) {
            .form-control,
            .form-control:focus,
            .form-control:active {
                font-size: 16px;
                width: 88%;
            }
        }

.google-logo-container {
    background: #fcfcfc;
    text-align: right;
}

.google-logo-image {
    height: 80%;
}

.google-map-image {
    height: 35px;
    padding-left: 10px;
}

.header-container {
    text-align: center;
}

.header-tagline {
    display: inline-block;
    text-align: center;
    width: 80%;
}

    @media only screen 
        and (max-width: 460px) {
            .header-tagline {
                font-size: 12px;
                width: 90%;
            }
        }

.home-container {
    display: flex;
}

.italics {
    font-style: italic;
}

li .center {
    text-align: center;
}

li .left {
    text-align: left;
}

.loading {
    font-size: 30px;
    text-align: center;
}

.map {
    text-align: center;
}

.reset {
    background: transparent;
    border: none;
    color: #d0021b;
    cursor: pointer;
    display: block;
    text-align: center;
    width: 100%;
}

.review-count {
    color: grey;
    font-style: italic;
    margin-top: 3px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.sort-button {
    background: #D32323;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    padding: 7px 0;
    text-align: center;
    width: 120px;
}

.sort-button:hover:enabled {
    color: #fff;
    text-decoration: none;
    transform: translateY(1px);
}

.sort-button:active {
    transform: translateY(1px);
}

.sort-by-buttons {
    text-align: center;
}

.space-list-items {
    margin-bottom: 7px;
}

.time-green {
    color: springgreen;
    font-weight: bold;
}

.time-orange {
    color: #ff8000;
    font-weight: bold;
}

.time-red {
    color: red;
    font-weight: bold;
}

.yelp-address-result {
    margin-top: 10px;
}

.yelp-button {
    background: #D32323;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto;
    padding: 7px 0;
    text-align: center;
    width: 120px;
}

.yelp-button:hover:enabled {
    color: #fff;
    text-decoration: none;
    transform: translateY(1px);
}

.yelp-button:active {
    transform: translateY(1px);
}

.yelp-button:disabled {
    background: lightgrey;
    cursor: default;
}

.yelp-image {
    height: 45px;
}